#bringinAddToCart {
    background-color: white;
    color: black    ;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3.25px;
    padding: 6.5px;
  }
  #bringinAddToCart:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  #bringinCheckout {
    background-color: white;
    color: black    ;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding: 8px;
  }
  #bringinCheckout:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  #cartCountBadge {
    background-color: rgb(40, 167, 69);
    color: white;
    font-size: 10px;
  }

#bringinAddedToCart{
    background-color: white;
    color: black    ;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding: 8px;
}

#bringinAddedToCart:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }